<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title> Online Bussines Provider</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/stylesheet.css" type="text/css"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

     <style>
        footer{
          width: 100%;
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
          border-radius: 5px;
          background: #111;
          position: relative;
          overflow: hidden;
          color: #e5e5e5;
        
        }
        .logo{
            text-align: center;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        .desc{
            text-align: center;
            padding-left: 100px;
            padding-right: 100px;
        }
        .contact{
            padding-left: 50px;
            padding-bottom: 30px;
        }
        .cont-logo{
            padding-left: 50px;
            padding-top: 0;
        }
        .a1 a{
            text-decoration: none;
            color: #e5e5e5;
        }
        .a2 a{
            text-decoration: none;
            color: #e5e5e5;
        }
        .a1{
            padding-bottom: 10px;
        }
        .copyright{
            text-align: right;
            padding-right: 5rem;
        }
        
        </style>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark  fixed-top" style="background-color: #111111 ;">
        <a class="navbar-brand" href="/base.html">Online Bussines Provider</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse mx-2" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="/base.html">Home </a>
                </li>
                <li class="nav-item active">
                    <div class="dropdown my-2 mx-2">
                         <a class="dropdown-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Products
                         </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                               <a class="dropdown-item" href="{% url 'category' 'pd' %}">Papads</a>
                               <a class="dropdown-item" href="{% url 'category' 'ck' %}">Cakes</a>
                               <a class="dropdown-item" href="{% url 'category' 'pr' %}">PuranPoli</a>
                             </div>
                    </div>
                    
                </li>
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="/about.html"> About </a>
                </li>
             
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="/login1.html">Buyer Login </a>
                </li>
                <li class="nav-item active mx-2">
                    <a class="nav-link" href="/login1.html">Seller Login </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>  
  
        <div class="p-4 ">
          <img src="/static/front.jpg" alt="front image"  style="width: 100%; border-radius: 10px;">
        
          <div>
          <h1 style="position:absolute;
          color: black;
          top: 40%;
          left: 50%;
          font-family:'Tangerine', serif;
          font-size: 90px;
          font-weight: bold;
          text-shadow: 5px 5px 5px #aaa;
          transform: translate(-50%, -50%);">Online Bussines Provider </h1>
          </div>
        
        </div>
        <div class="p-4" style="margin: 5rem; text-align: center;">
        <article>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores deserunt id doloremque quas laborum veritatis quod dolorum voluptas dicta rem voluptate obcaecati iure vero, culpa sint perferendis quaerat iste voluptatem repellendus tenetur, perspiciatis nobis sed! Hic temporibus similique porro ut! ipsum dolor sit amet consectetur adipisicing elit. Iusto ad quis rerum culpa corporis quidem itaque voluptate sapiente deserunt, qui pariatur reiciendis vero accusantium quod delectus quasi mollitia repellendus cumque? Vel, a reprehenderit explicabo aspernatur modi, tenetur omnis itaque veritatis quibusdam aliquam nulla minus doloremque dolorem tempora, veniam nobis hic!
        </article>
        </div>
        <!-- cards -->
        <div class="form-inline" style="margin: 5em;">
        <div class="card p-2 form-inline" style="width: 20rem; margin: 2em;">
          <img class="card-img-top" src="/static/udid.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Urad Dal Papad</h5>
            <p class="card-text">You must have heard that just as Indian food is incomplete without pickles, similarly it is incomplete without papad.</p>
            <a href="#" class="btn btn-primary">Find More</a>
          </div>
        </div>
        <div class="card p-2 form-inline" style="width: 20rem; margin: 2em;">
          <img class="card-img-top" src="/static/rice.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rise Papad</h5>
            <p class="card-text">You must have heard that just as Indian food is incomplete without pickles, similarly it is incomplete without papad.</p>
            <a href="#" class="btn btn-primary">Find More</a>
          </div>
        </div>
        <div class="card p-2 form-inline" style="width: 20rem; margin: 2em;">
          <img class="card-img-top" src="/static/achar.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mango Pickle</h5>
            <p class="card-text">Mango pickle with long shelf life, Mango pickle is a very favorite of India..</p>
            <a href="#" class="btn btn-primary">Find More</a>
          </div>
        </div>
        <div class="card p-2 form-inline" style="width: 20rem; margin: 2em;">
          <img class="card-img-top" src="/static/Rava-Kurdai.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rava Kurdai</h5>
            <p class="card-text">Kurdai is a traditional Maharashtrian recipe. This is Summer special recipe that comes under paped category</p>
            <a href="#" class="btn btn-primary">Find More</a>
          </div>
        </div>
        <div class="card p-2 form-inline" style="width: 20rem; margin: 2em;">
          <img class="card-img-top" src="/static/neman.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lemon Pickle</h5>
            <p class="card-text"> This Indian-style Lemon pickle recipe adds a sweet and sour kick to any dish.</p>
            <a href="#" class="btn btn-primary">Find More</a>
          </div>
        </div>
        <div class="card p-2 form-inline" style="width: 20rem; margin: 2em;">
          <img class="card-img-top" src="/static/chips.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Potato Chips</h5>
            <p class="card-text">Potato Chips has been the worlds Favorite snack for all age groups.</p>
            <a href="#" class="btn btn-primary">Find More</a>
          </div>
        </div>
        <div class="card p-2 form-inline" style="width: 20rem; margin: 2em;">
          <img class="card-img-top" src="/static/banana-chip.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Banana Chips</h5>
            <p class="card-text">Banana Chips  has been the worlds Favorite snack for all age groups in every Indian's.</p>
            <a href="#" class="btn btn-primary">Find More</a>
          </div>
        </div>
        <div class="card p-2 form-inline" style="width: 20rem; margin: 2em;">
          <img class="card-img-top" src="/static/khapar puran poli.jpg " alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Khapar Puran Poli</h5>
            <p class="card-text">Puran poli is a traditional Marathi and Gujarati sweet dish served during major festivals in India.</p>
            <a href="#" class="btn btn-primary">Find More</a>
          </div>
        </div>
        <div class="card p-2 form-inline" style="width: 20rem; margin: 2em;">
          <img class="card-img-top" src="/static/cake.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Cakes</h5>
            <p class="card-text"> Yummy Cakes to Celebrate All Occasions, Surprise Your Loved Ones. Order Now! </p>
            <a href="#" class="btn btn-primary">Find More</a>
          </div>
        </div>
        
        </div>
        
        
</body>
<footer class="footer1">
    <h1 class="logo">Online Bussines Provider</h1> 
    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ducimus vero
         ab obcaecati porro mollitia accusamus aliquid odit expedita quos, omnis temporibus
          enim dolorem nemo ipsa laboriosam id assumenda doloremque ipsam. Architecto, id 
          dicta pariatur maxime harum dolore magni voluptas, nostrum libero illo similique, 
          qui itaque odit? Provident, obcaecati? Atque?</p>
    <h4 class="cont-logo">Contact Us :</h4>
<div class="contact">  
    <div class="a1"> 
    Contact No : <a href="#">7030749166</a><br>  
    </div>
    <div  class="a2">
    Gmail Id : <a href="#">jayeshsawant318@gmail.com</a>
    </div>
    <h5 class="copyright">Developer : &copy; Jayesh Savant</h5>
</div>
</footer>
</html>